{{#partial "titulo-y-descripcion"}}
    <title>Gestionar Heladeras</title>
    <meta name="description" content="Gestionar Heladeras">
{{/partial}}

{{#partial "js-extra"}}
    <script type="text/javascript" src="/js/gestionHeladeras.js"></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
        <h1 class="titulo">Gestionar Heladeras:</h1> <br>
        <section class="boton-container">
            <button class="boton-accion hundido" id="registroHeladeras">Agregar</button>
            <button class="boton-accion hundido" id="administrarHeladerasExistentes">Administrar Heladeras Existentes</button>
        </section>
    </main>
{{/partial}}
{{> templates/baseFondoBlancoSinMenu }}