{{#partial "titulo-y-descripcion"}}
    <title>Gestionar Colaboradores Humanos</title>
    <meta name="description" content="Gestionar Colaboradores Humanos">
{{/partial}}

{{#partial "js-extra"}}
    <script type="text/javascript" src="/js/gestionHumana.js"></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
        <h1 class="titulo">Gestionar Colaboradores Humanos:</h1> <br>
        <section class="boton-container">
            <button class="boton-accion hundido" id="registroPersonaHumanaBoton">Agregar</button>
            <button class="boton-accion hundido" id="administrarPersonasHumanasExistentes">Administrar Colaboradores Humanos Existentes</button>
        </section>
    </main>
{{/partial}}
{{> templates/baseFondoBlancoSinMenu }}