{{#partial "titulo-y-descripcion"}}
    <title>Forma De Contribucion</title>
    <meta name="description" content="Forma De Contribucion Persona Juridica">
{{/partial}}

{{#partial "js-extra"}}
    <script type="text/javascript" src="/js/realizarContribucionJuridica.js"></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
        <h1 class="titulo">Forma de Contribución:</h1> <br>
        <section class="boton-container">
            <button class="boton-accion hundido" style="width: 400px;" id="donarDinero">Donar Dinero</button>
            <button class="boton-accion hundido" style="width: 400px;" id="hacerceCargoDeHeladera">Hacerse cargo de una Heladera</button>
            <button class="boton-accion hundido" style="width: 400px;" id="donarOferta">Donar Oferta</button>
        </section>
        <script src="/js/realizarContribucionJuridica.js"></script>
    </main>

{{/partial}}
{{> templates/baseFondoBlanco }}
