{{#partial "titulo-y-descripcion"}}
    <title>Forma De Contribucion</title>
    <meta name="description" content="Forma De Contribucion Persona Humana">
{{/partial}}

{{#partial "js-extra"}}
    <script type="text/javascript" src="/js/realizarContribucionHumana.js"></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
        <h1 class="titulo">Forma de Contribución:</h1> <br>
        <section class="boton-container">
            <button class="boton-accion hundido" id="donarVianda">Donar Vianda</button>
            <button class="boton-accion hundido" id="donarDinero">Donar Dinero</button>
            <button class="boton-accion hundido" id="distribuirViandas">Distribuir Viandas</button>
            <button class="boton-accion hundido" id="registrarPersonaVulnerable">Registrar Persona Vulnerable</button>
        </section>
    </main>
     <script src="/js/realizarContribucionHumana.js"></script>
{{/partial}}

{{> templates/baseFondoBlanco }}
