{{#partial "titulo-y-descripcion"}}
    <title>Colaboración Fallida</title>
    <meta name="description" content="Colaboración Fallida">
{{/partial}}

{{#partial "mensaje-con-imagen"}}
    <div class="warning-icon">&#9888;</div>
    <p>Colaboración Fallida</p>
    <button class="volver-button">Volver</button>
{{/partial}}