{{#partial "titulo-y-descripcion"}}
    <title>Puntos Insuficientes</title>
    <meta name="description" content="Puntos insuficientes">
{{/partial}}

{{#partial "mensaje-con-imagen"}}
    <div class="warning-icon">&#9888;</div>
    <p>Puntos insuficientes</p>
    <button class="volver-button">Volver</button>
{{/partial}}