{{#partial "titulo-y-descripcion"}}
    <title>Menu Técnico</title>
    <meta name="description" content="Menu Técnico">
{{/partial}}

{{#partial "js-extra"}}
    <script type="text/javascript" src="/js/menuTecnico.js"></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
        <h1 class="titulo">Forma de Contribución:</h1> <br>
        <section class="boton-container">
            <button class="boton-accion hundido" id="solucionarIncidente">Solucionar Incidente</button>
        </section>
    </main>
    <script src="/js/realizarContribucionHumana.js"></script>
{{/partial}}

{{> templates/baseFondoBlanco }}
