{{#partial "titulo-y-descripcion"}}
    <title>Cargando</title>
    <meta name="description" content="Cargando">
{{/partial}}

{{#partial "mensaje-con-imagen"}}
    <div>
        <div class="loader"></div>
        <div class="message">
            <h1>Cargando...</h1>
            <p>Por favor, espera unos momentos.</p>
        </div>
    </div>
{{/partial}}

{{> templates/baseMensaje }}
