<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{#block "titulo-y-descripcion"}}
    {{/block}}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/texto.css">
    <link rel="stylesheet" type="text/css" href="../css/fondos.css">
    <link rel="stylesheet" type="text/css" href="../css/botones.css">
    <link rel="stylesheet" type="text/css" href="../css/contenedores.css">
    <link rel="stylesheet" type="text/css" href="../css/canjeo.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/cargando.css">
    {{#block "css-extra"}}
    {{/block}}

    <script type="text/javascript" src="/js/menu.js"></script>
    {{#block "js-extra"}}
    {{/block}}
</head>

<body class="tipografia-monserrat">
<button id="burger-menu" class="burger" style="filter: none !important;"></button>
<div class="background"></div>
<div class="menu">
    <nav>
        {{#if esAdministrador}}
            <a href="menuAdmin.hbs">Acciones</a>
            <a href="visualizacionAlertas.hbs">Visualizaci贸n de Alertas</a>
            <a href="visualizacionReportes.hbs">Visualizaci贸n de Reportes</a>
            <a href="reporteFallas.hbs">Reportes de Fallas</a>
            <a href="cargaArchivoCSV.hbs">Carga de CSV de Colaboraciones</a>
        {{/if}}

        {{#if esColaboradorHumano}}
            <a href="formaDeContribucionHumana.hbs">Realizar Contribuci贸n</a>
            <a href="canjeDePuntos.hbs">Canjeo de Puntos</a>
        {{/if}}

        {{#if esColaboradorJuridico}}
            <a href="formaDeContribucionJuridica.hbs">Realizar Contribuci贸n</a>
            <a href="suscribirseAHeladera.hbs">Susribirse a Heladera</a>
        {{/if}}
    </nav>
</div>

<div class="message-box">
    {{#block "mensaje-con-imagen"}}
    {{/block}}
</div>
</body>
</html>