{{#partial "titulo-y-descripcion"}}
    <title>Confirmación de Intercambio</title>
    <meta name="description" content="Confirmación de intercambio">
{{/partial}}

{{#partial "mensaje-con-imagen"}}
    <p>¿Deseas intercambiar tus puntos por el producto seleccionado?</p>
    <div class="buttons">
        <button>Aceptar</button>
        <button>Cancelar</button>
    </div>
{{/partial}}

{{> templates/baseMensaje }}