{{#partial "titulo-y-descripcion"}}
    <title>Eliminación exitos</title>
    <meta name="description" content="Eliminación exitos">
{{/partial}}
{{#partial "mensaje-con-imagen"}}
    <img src="../img/logoDeExito.svg" alt="logoDeExito">
    <p><strong>Eliminación exitosa</strong></p>
{{/partial}}

{{> templates/baseMensaje }}