{{#partial "titulo-y-descripcion"}}
    <title>Producto Canjeado</title>
    <meta name="description" content="Producto Canjeado">
{{/partial}}
{{#partial "mensaje-con-imagen"}}
    <img src="../img/logoDeExito.svg" alt="logoDeExito">
    <p><strong>Producto canjeado con éxito</strong></p>
{{/partial}}

{{> templates/baseMensaje }}