{{#partial "titulo-y-descripcion"}}
    <title>Colaboración Exitosa</title>
    <meta name="description" content="Colaboración Exitosa">
{{/partial}}

{{#partial "js-extra"}}
    <script type="text/javascript" src="/js/donacionExitosaJuridica.js"></script>
{{/partial}}

{{#partial "mensaje-con-imagen"}}
    <img src="../img/logoDeExito.svg" alt="logoDeExito">
    <p><strong>La colaboración ha sido exitosa</strong></p>
    <input type="submit" value="Volver al Menú" class="enviar" id="donacionExitosaBoton">
{{/partial}}
{{> templates/baseMensaje }}