{{#partial "titulo-y-descripcion"}}
    <title>Reporte Exitoso</title>
    <meta name="description" content="Reporte Exitoso">
{{/partial}}

{{#partial "mensaje-con-imagen"}}
    <img src="../img/logoDeExito.svg" alt="logoDeExito">
    <p><strong>El reporte ha sido exitoso</strong></p>
{{/partial}}

{{> templates/baseMensaje }}