{{#partial "titulo-y-descripcion"}}
    <title>Solución de Incidente Exitosa</title>
    <meta name="description" content="Solución de Incidente Exitosa">
{{/partial}}

{{#partial "mensaje-con-imagen"}}
    <img src="../img/logoDeExito.svg" alt="logoDeExito">
    <p><strong>La solución del incidente ha sido exitosa</strong></p>
{{/partial}}

{{> templates/baseMensaje }}