{{#partial "titulo-y-descripcion"}}
    <title>Suscripción Exitosa</title>
    <meta name="description" content="Suscripción Exitosa">
{{/partial}}

{{#partial "mensaje-con-imagen"}}
    <img src="../img/logoDeExito.svg" alt="logoDeExito">
    <p><strong>La suscripción ha sido exitosa</strong></p>
{{/partial}}

{{> templates/baseMensaje }}